.container{
    position: relative;
    margin-top: 64px;
    border: 1px solid #f1f1f1;
    border-radius: 27px;
    padding: 54px 16px 40px 16px;
    width: 335px;
    height: 232px;
    background-color: #fdfdfd;
}
.photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px; 
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
}

.name{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #1d1e21;
}
.reviews{
    margin:18px 0 0 0;
font-weight: 400;
font-size: 16px;
line-height: 1.3;
text-align: center;
color: #93939a;
}