.container{
    width: 375px;
height: 812px;
padding: 20px;
background-color: #59b17a;
display: flex;
justify-content: center;
align-items: center;
}
.titleContainer{
    width: 331px;
    height: 312px;
    /* background-image: url('/public/homeBackround.svg');  */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.title{
    margin: 20px 0 20px;
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
    color: #fff;
    text-shadow: 0 4px 85px 0 rgba(29, 30, 33, 0.3);
}
.description{
    width: 156px;
    margin: 0 0 0 179px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .container{
    width: 768px;
/* height: 812px; */
padding: 32px;
/* background-color: #59b17a;
display: flex;
justify-content: center;
align-items: center; */
}
.titleContainer{
    width: 700px;
    height: 508px;
    margin: 140px 64px 156px 31px;
    /* background-image: url('/public/homeBackround.svg');  */
    /* background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; */
}
.title{
    margin: 0 0 24px 0;
font-size: 74px;
    text-shadow: 0 4px 85px 0 rgba(29, 30, 33, 0.3);
}
.description{
    width: 156px;
    margin: 0 0 0 179px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #fff;
}
}