.container{
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}
.containerTitle{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 0 22px ;
font-weight: 600;
font-size: 28px;
line-height: 1.1;
text-align: center;
color: #1d1e21;
width: 291px;
height: 64px;
}

.description{
    margin: 0;
font-weight: 400;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #93939a;
}
.list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}