.container{
    width: 375px;
height: 334px;
padding: 20px;
background-color: #59b17a;
}
.descriptionText{
    margin-top: 20px;
    width: 261px;
font-weight: 400;
font-size: 14px;
line-height: 1.3;
color: #f7f8fa;
}
.list{
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    gap: 32px;
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 129%;
color: #f7f8fa;
}
.line{
    margin: 0 0 20px 0;
}
.p{
font-weight: 400;
font-size: 10px;
line-height: 1;
color: #f7f8fa;
}
.listTwo{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.lineTwo{
    border-radius: 8px;
width: 1px;
height: 10px;
background: #f7f8fa;
opacity: 0.2;
margin: 0;
}