body {
  font-family: 'IBM Plex Sans', sans-serif;
}
ul {
  list-style: none;  
  padding: 0;        
  margin: 0;        
}

li {
  margin: 0;     
  padding: 0;
}
p{
  margin: 0;
}
h1, h2, h3{
  margin: 0;
}
button{
  cursor: pointer;
}
a {
  text-decoration: none;  
  color: inherit;         
  outline: none;          
}
.container {
  margin: 0 auto;
  max-width: 375px;
    background-color: #f7f8fa;
    font-family: 'Inter', sans-serif;
}
  
@media screen and (min-width: 768px){
    .container{
    /* margin: 0 auto; */
    max-width: 768px;
}
}